@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
}

*:focus {outline: none}

#text {
    width: 800px;
    max-width: 60%;
    margin: 0 auto;
}

small a {
  color: #aaa;
  text-decoration: none;
  font-size: 0.8em
}

.warning {
    color: #B40404;
    font-weight: bold;
    display: inline;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  z-index: 10;
  padding: 10px;
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
  box-shadow: 0 0 4px #000;
  box-sizing: border-box;
  color: #ccc;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: -4px;
    -webkit-margin-after: 0;
}

h3 {
    -webkit-margin-before: -.5em;
    font-weight: normal;
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
}
